* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
body {
  font: normal 15px Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  margin: auto;
  max-width: 1050px;
  padding-bottom: 100px;
}
#header {
  min-width: 200px;
  background: #888;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #808080;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e6e6e6, EndColorStr=#b3b3b3);
  background: #cccccc linear-gradient(#e6e6e6, #b3b3b3);
  position: relative;
  padding: 10px 45px 10px 10px;
}
#header input[type=text] {
  background: #fff;
  font: normal 12px Arial, Helvetica, sans-serif;
  width: 100%;
  border: none;
  border-top: 1px solid #999999 \0/;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: inset 0 1px 2px #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#button {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #808080;
  box-shadow: 0 1px rgba(255, 255, 255, 0.8);
  width: 26px;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 9px;
  text-align: center;
  text-shadow: 0 1px #fff;
  padding-top: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f2f2f2, EndColorStr=#bfbfbf);
  background: #cccccc linear-gradient(#f2f2f2, #bfbfbf);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#button.pressed {
  box-shadow: inset 0 1px 5px -2px rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(EndColorStr=#b3b3b3, startColorStr=#cccccc);
  background: #cccccc linear-gradient(#b3b3b3, #cccccc);
}
#popup {
  display: none;
  position: absolute;
  right: 10px;
  top: 100%;
  background: #fff;
  z-index: 100;
  max-width: 200px;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: 1px solid #999999;
  box-shadow: 0 1px 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#popup input {
  display: none;
}
#popup hr {
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 8px;
  margin-top: 8px;
}
#popup label {
  color: #889;
  margin-bottom: 5px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  background: #e6e6e6;
  box-shadow: 0 1px;
}
#popup input:checked + label {
  color: #000;
  background: #afa;
}
#popup h5 {
  margin-bottom: 5px;
}
#popup .select {
  position: relative;
  width: 200px;
  border-radius: 5px;
  padding: 5px 0;
  overflow: hidden;
  margin-bottom: 5px;
}
#popup .select label {
  border-radius: 0;
  background: transparent;
  display: block;
  cursor: pointer;
  padding: 3px 5px;
  color: #444;
  border: none;
  box-shadow: none;
  margin: 0;
}
#popup .select input:checked + label {
  color: #000;
  background: #DDF;
}
#popup .select:before {
  pointer-events: none;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  box-shadow: inset 0 1px 3px;
}
#content {
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px -1px;
  padding: 20px 20px 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#content #itemlist li {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  width: 20%;
  min-width: 250px;
  display: inline-block;
}
#content #itemlist li .new,
#content #itemlist li .deprecated {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: -12px;
  top: 6px;
}
#content #itemlist li .new {
  background: #8F8;
}
#content #itemlist li .deprecated {
  background: #000;
}
#content #itemlist li:first-letter,
#content #itemlist li a:first-letter {
  text-transform: lowercase;
}
#content #itemlist li a {
  display: inline-block;
  width: 100%;
  color: inherit;
  text-decoration: inherit;
}
#content #itemlist li:hover {
  background: #f0f0f0;
}
#footer {
  text-align: center;
  font-size: 0.8em;
  color: #cccccc;
  padding: 10px;
}
#footer a {
  color: #b3b3b3;
}
#error {
  background: #800;
  color: #fff;
  padding: 20px 10px;
}
#error h3 {
  font: inherit;
  text-decoration: underline;
}
#loading {
  background: #ffffff url('loader.gif') no-repeat 10px;
  padding: 10px 35px;
  color: #000;
}
@media (max-width: 800px) {
  #results ul li {
    width: 30%;
  }
}
@media (max-width: 600px) {
  #results ul li {
    width: 50%;
  }
}
@media (max-width: 300px) {
  #results ul li {
    width: 100%;
  }
}
