*{margin: 0;padding: 0;}
li{list-style-type: none;}

@gray:#ccc;

body{
  font:normal 15px Arial, Helvetica, sans-serif;
  background: lighten(@gray,16%);
  margin: auto;
  max-width: 1050px;
  padding-bottom: 100px;
}

#header{
  min-width:200px;
  background: #888;
  border-radius: 0 0 5px 5px;
  border-bottom:1px solid darken(@gray,30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=lighten(@gray,10%), EndColorStr=darken(@gray,10%));
  background: @gray linear-gradient(lighten(@gray,10%), darken(@gray,10%));
  position: relative;
  padding:10px 45px 10px 10px;

  input[type=text]{
    background: #fff;
    font:normal 12px Arial, Helvetica, sans-serif;
    width: 100%;
    border:none;
    border-top:1px solid darken(@gray,20%)~"\0/";
    outline:none;
    border-radius:5px;
    padding:5px 10px;
    box-shadow:inset 0 1px 2px darken(@gray,80%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#button{
  cursor:pointer;
  border-radius:3px;
  border:1px solid darken(@gray,30%);
  box-shadow: 0 1px rgba(255,255,255,0.8);
  width: 26px;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom:9px;
  text-align: center;
  text-shadow:0 1px #fff;
  padding-top: 4px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=lighten(@gray,15%), EndColorStr=darken(@gray,5%));
  background: @gray linear-gradient(lighten(@gray,15%), darken(@gray,5%));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.pressed{
    box-shadow: inset 0 1px 5px -2px rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(EndColorStr=darken(@gray,10%), startColorStr=@gray);
    background: @gray linear-gradient(darken(@gray,10%), @gray);
  }
}

#popup{
  display: none;
  position: absolute;
  right: 10px;
  top:100%;
  background: #fff;
  z-index: 100;
  max-width: 200px;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border:1px solid darken(@gray,20%);
  box-shadow: 0 1px 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input{
    display: none;
  }

  hr{
    border:none;
    border-bottom:1px solid @gray;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  label{
    color: #889;
    margin-bottom: 5px;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    background:lighten(@gray,10%);
    box-shadow: 0 1px;
  }
  input:checked+label{
    color: #000;
    background: #afa;
  }

  h5{
    margin-bottom: 5px;
  }

  .select{
    position: relative;
    width:200px;
    border-radius:5px;
    padding:5px 0;

    overflow: hidden;
    margin-bottom: 5px;
    label{
      border-radius: 0;
      background: transparent;
      display: block;
      cursor:pointer;
      padding:3px 5px;
      color:#444;
      border:none;
      box-shadow: none;
      margin: 0;
    }
    input:checked+label{
      color:#000;
      background: #DDF;
    }
    &:before{
      pointer-events: none;
      display: block;
      content:'';
      position: absolute;
      top: 0;right: 0;bottom: 0;left: 0;
      border-radius:inherit;
      box-shadow:inset 0 1px 3px;
    }
  }

}

#content{
  background:#fff;
  position: relative;
  box-shadow:0 1px 1px -1px;
  padding:20px 20px 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  #itemlist{
    li{
      position: relative;
      .new, .deprecated{
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        position: absolute;
        left: -12px;
        top: 6px;
      }
      .new{
        background: #8F8;
      }
      .deprecated{
        background: #000;

      }

      cursor:pointer;
      &:first-letter, a:first-letter{
        text-transform: lowercase;
      }
      a{
        display: inline-block;
        width: 100%;
        color: inherit;
        text-decoration: inherit;
      }
      margin-bottom: 5px;
      width: 20%;
      min-width:250px;
      display: inline-block;
      &:hover{
        background: #f0f0f0;
      }
    }
  }
}

#footer{
  text-align: center;
  font-size:0.8em;
  color:@gray;
  padding: 10px;
  a{
    color: darken(@gray, 10%);
  }
}

#error{
  background:#800;
  color:#fff;
  padding:20px 10px;
  h3{
    font:inherit;
    text-decoration: underline;
  }
}

#loading{
  background: #fff url('loader.gif') no-repeat 10px;
  padding: 10px 35px;
  color: #000;
}

@media (max-width:800px) {#results ul li{width:30%;}}
@media (max-width:600px) {#results ul li{width:50%;}}
@media (max-width:300px) {#results ul li{width:100%;}}